:root {
    /*Кольори для фону секцій*/
    --page-fon: #E5E5E5;
    --primary-section-fon: #2F303A;
    --secondary-section-fon: #F5F4FA;

    /*Кольори для контенту*/
    --content-color: #FFFFFF;

    /*Кольори рамок*/
    --border-header-color: #ECECEC;
    --border-content-color: #EEEEEE;

    /*Кольори тексту*/
    --logo-color: #000000;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --footer-text-color: rgba(255, 255, 255, 0.6);

    /*Кольори блоків, ефектів ховера і фокусу*/
    --general-color: #2196F3;
    --focus-color: #188ce8;
    --gradient-color-1: #104970;
    --gradient-color-2: #a9a9ad;

    /*Кольори тіней*/
    --main-shadow-button: rgba(0, 0, 0, 0.15);
    --box-shadow-1: rgba(0, 0, 0, 0.12);
    --box-shadow-2: rgba(0, 0, 0, 0.14);
    --box-shadow-3: rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
    margin: 0;
}

/*Головний шрифт*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Фон сторінки */
.body-general {
    background-color: var(--page-fon);
    color: var(--primary-text-color);
}

/*Container - width 1600px*/
.container {
    max-width: 1600px;
    margin: 0 auto;
}

/*Container - width 1200px*/
.container-content {
    max-width: 1200px;
    margin: 0 auto;
}

/*Хедер*/
.header-content {
    background-color: var(--content-color);
    border-bottom: 1px solid var(--border-header-color);
}

/*Обгортка для хедеру*/
.header-box {
    display: flex;
    height: 80px;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
}

/*Блок навігації*/
.header-navigation {
    display: inherit;
    column-gap: 93px;
}

/*Логотип*/
.header-logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    transition: all 0.5s;
}

.header-logo-prefix {
    /* display: inline-block; */
    font-weight: 700;
    line-height: 1.2;
    color: var(--general-color);
}

.header-logo:focus {
    /*outline: none;*/
    transform: scale(1.15);
}

.header-logo:hover {
    transform: scale(1.3);
}

/*Навігація*/
.navigation-list {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-link {
    color: var(--primary-text-color);
}

.current {
    color: var(--general-color);
}

.navigation-link:focus {
    /*outline: none;*/
    color: var(--focus-color);
}

.navigation-link:hover {
    color: var(--general-color);
}

.header-contacts {
    display: flex;
    column-gap: 50px;
}

/*Контакти*/
.contacts-item {
    display: flex;
    align-items: center;
}

.email-link,
.telephone-link {
    color: var(--secondary-text-color);
}

.email-link:focus,
.telephone-link:focus {
    /*outline: none;*/
    color: var(--focus-color);
}

.email-link:hover,
.telephone-link:hover {
    color: var(--general-color);
}

/*Контент*/
.main-content {
    background-color: var(--content-color);
}

.section {
    padding: 94px 0;
}

.section-title {
    display: none;
    /* position: absolute; */
    /*width: 1px;*/
    /*height: 1px;*/
    /*margin: -1px;*/
    /*border: 0;*/
    /*padding: 0;*/
    /*white-space: nowrap;*/
    /*clip-path: inset(100%);*/
    /*clip: rect(0 0 0 0);*/
    /*overflow: hidden;*/
}

/*Замовлення*/
.section-order {
    background-color: var(--primary-section-fon);
}

/*Обгортка для секції замовлень*/
.order-content {
    display: flex;
    height: 600px;
    padding: 0 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.order-title {
    margin: 0;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--content-color);
}

.order-button {
    padding: 10px 32px;
    background: var(--focus-color);
    /*background:*/
    /*    linear-gradient(*/
    /*        var(--general-color),*/
    /*        var(--gradient-color-1)*/
    /*    );*/
    box-shadow:
        0 4px 4px var(--main-shadow-button);
    border: 0;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--content-color);
    cursor: pointer;
}

.order-button:focus,
.order-button:hover {
    /*outline: none;*/
    /*background: var(--focus-color);*/
    background:
        linear-gradient(var(--general-color),
            var(--gradient-color-1));
}

.order-button:active {
    outline: none;
    background:
        linear-gradient(var(--general-color),
            var(--gradient-color-1));
    box-shadow:
        inset 4px 4px 4px var(--main-shadow-button),
        inset -4px 4px 4px var(--main-shadow-button),
        inset 4px -4px 4px var(--main-shadow-button),
        inset -4px -4px 4px var(--main-shadow-button);
    text-shadow:
        4px 4px 4px var(--main-shadow-button),
        -4px 4px 4px var(--main-shadow-button),
        4px -4px 4px var(--main-shadow-button),
        -4px -4px 4px var(--main-shadow-button);
}

/*Про нас*/

/*Обгортка для секції Про нас*/
.about-us-box {
    display: flex;
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
}

/*Заголовок для секції*/
.about-us-title {
    display: none;
    /*position: absolute;*/
    /*width: 1px;*/
    /*height: 1px;*/
    /*margin: -1px;*/
    /*border: 0;*/
    /*padding: 0;*/
    /*white-space: nowrap;*/
    /*clip-path: inset(100%);*/
    /*clip: rect(0 0 0 0);*/
    /*overflow: hidden;*/
}

/*Наші цілі*/
.about-us-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.about-item {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.about-item-title {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.about-item-text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*Чим ми займаємося*/
.section-our-work {
    padding-bottom: 94px;
}

/*Обгортка для секції Чим ми займаємося*/
.our-work-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.our-work-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

/*Наше покликання*/
.work-item {
    max-width: 370px;
    cursor: pointer;
    transition: all 0.5s;
}

.work-item:hover {
    transform: scale(1.1);
}

.box-image {
    display: block;
    width: 100%;
}

/*Наша команда*/
.section-team {
    background-color: var(--secondary-section-fon);
}

/*Обгортка для секції Наша команда*/
.team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding: 0 15px;
}

.team-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

/*Кадровий апарат*/
.team-item {
    max-width: 270px;
    background-color: var(--content-color);
    box-shadow:
        0 1px 3px var(--box-shadow-1),
        0 1px 1px var(--box-shadow-2),
        0 2px 1px var(--box-shadow-3);
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.team-item:hover {
    transform: scale(1.1);
}

.team-item-name {
    margin: 30px auto 5px;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-item-title {
    margin: 5px auto 30px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*Секція постерів*/

/*Обгортка для фільтру*/
.filter-box {
    display: flex;
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
    row-gap: 34px;
}

/*Фільтр*/
.filter-list {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    gap: 8px;
}

.filter-item {
    display: flex;
}

.filter-button {
    padding: 6px 22px;
    background:
        linear-gradient(var(--secondary-section-fon),
            var(--gradient-color-2));
    border: 0;
    border-radius: 4px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    cursor: pointer;
}

.cheked,
.filter-button:focus {
    /*outline: none;*/
    box-shadow:
        0 4px 4px rgba(0, 0, 0, 0.15);
    background: var(--focus-color);
    color: var(--content-color);
}

.filter-button:hover {
    /*outline: none;*/
    background:
        linear-gradient(var(--general-color),
            var(--gradient-color-1));
    color: var(--content-color);
}

.filter-button:active {
    background:
        linear-gradient(var(--general-color),
            var(--gradient-color-1));
    box-shadow:
        0 4px 4px rgba(0, 0, 0, 0.15),
        inset 4px 4px 4px var(--main-shadow-button),
        inset -4px 4px 4px var(--main-shadow-button),
        inset 4px -4px 4px var(--main-shadow-button),
        inset -4px -4px 4px var(--main-shadow-button);
    text-shadow:
        4px 4px 4px var(--main-shadow-button),
        -4px 4px 4px var(--main-shadow-button),
        4px -4px 4px var(--main-shadow-button),
        -4px -4px 4px var(--main-shadow-button);
    color: var(--content-color);
}

/*Постери*/
.poster-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.poster-item {
    max-width: 370px;
    background-color: var(--content-color);
    border-bottom: 1px solid var(--border-content-color);
}

.poster-item-text {
    border-left: 1px solid var(--border-content-color);
    border-right: 1px solid var(--border-content-color);
    padding: 20px 23px 19px;
}

.poster-item-name {
    margin: 0 0 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.poster-item-category {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*Футер*/
.footer-content {
    background-color: var(--primary-section-fon);
}

/*Обгортка для футера*/
.footer-box {
    display: flex;
    height: 252px;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
}

/*Блок для логотипу та адреси футера*/
.footer-contact,
.footer-address {
    display: block;
}

/*Логотип футера*/
.footer-logo {
    margin-bottom: 20px;
}

.header-logo.footer-logo {
    display: inline-block;
    color: var(--content-color);
}

.header-logo.footer-logo:hover {
    transform: scale(1.3);
}

.footer-contact-list {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.footer-contact-item {
    display: flex;
    align-items: center;
}

.footer-address-link,
.footer-email,
.footer-telephone {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--content-color);
}

.email-link.footer-email,
.telephone-link.footer-telephone {
    color: var(--footer-text-color);
}

.footer-address-link:focus,
.email-link.footer-email:focus,
.telephone-link.footer-telephone:focus {
    /*outline: none;*/
    color: var(--focus-color);
}

.footer-address-link:hover,
.email-link.footer-email:hover,
.telephone-link.footer-telephone:hover {
    color: var(--general-color);
}